*,::before,::after{
    box-sizing: border-box;
    margin:0;
    
}
body{
    background-color: hsl(30, 18%, 87%);
    width:100%;
    height:100vh;
    font-family: 'Outfit',sans-serif;
    color:hsl(30, 10%, 34%)
   

  
}

.main{
    width:90%;
    margin:30px auto;
    
    
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

h1{
    font-family: 'Young Serif',serif;
    margin-bottom: 20px;
    color: hsl(24, 5%, 18%);
    font-weight: 700;
}

h2{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

span{
    font-weight: 700
}
.recipe{
    margin:20px;
    padding-top: 20px;

    

}
img{
    width:100%;
    display: block;
    margin: 20px auto;
    border-radius: 20px;

}

.time{
    background-color: hsl(300, 40%, 94%);
    margin: 20px;
    border-radius: 20px;
    padding: 20px;

   

}

.time>h2{
    color:hsl(332, 51%, 32%);
    font-weight: 600;
}

.ingredients,.instructions,.nutrition{
    margin: 20px;
}

ul li,ol li,.nutrition p{
    padding-top:20px;
  
}

ol li::marker{
    color:hsl(332, 51%, 32%);
    font-weight: 600;
    
}

hr{
    border:none;
    border-top: 1px solid hsl(30, 18%, 87%);
    margin:40px 0;
}

dl{
       
        padding:20px;
       
}
dl div{
    width:90%;
    display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 10px 0 10px 10px;

  

    border-bottom: 1px solid  hsl(30, 18%, 87%);
   

}
dd{
    color:hsl(332, 51%, 32%);
    font-weight: 700;
}
dl div:last-child{
    border-bottom:none;
   
}


